@import "~bootstrap/scss/bootstrap";

.container {
    max-width: 800px;
    padding-top: 20px;
    font-size: 1.1em;
 
}

.marked_item {
    text-decoration: line-through;
}

.error {
    background-color: red;
}

form {
    height: 4em;
}

.bi-trash {
    pointer-events: none;
}

li input, li button{
    display: inline-block;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
}